$blue: #5175FF;
$blue-grey: #829CFF;
$dark-blue: #333950;
// $black: #25293A;
$grey: #747B95;
$red: F05B5B;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  min-height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-blue;
  font-weight: 700;
}

p {
  // font-size: 16px;
  // line-height: 26px;
  color: $grey;
}

img {
  width: 100%;
  // height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

$tablet: 768px;
$desktop: 1024px;
