$blue: #5175ff;
$blue-grey: #829cff;
$dark-blue: #333950;
// $black: #25293A;
$grey: #747b95;
$red: #f05b5b;
$white: #ffffff;

$tablet: 768px;
$desktop: 1024px;

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-blue;
  font-weight: 700;
}

.heading-one {
  font-size: 40px;
  line-height: 48px;

  @media only screen and (min-width: $desktop) {
    font-size: 56px;
    line-height: 64px;
  }
}

p {
  font-size: 16px;
  line-height: 26px;
  color: $grey;
}

img {
  width: 100%;
  // height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
