// reusable components
.button {
    border-radius: 28px;
    padding: 14px 0;
    display: inline-flex;
    width: clamp(171px, 45.6vw, 45.6vw);
    justify-content: center;

    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    // color: $white;
}

.card {
    border-radius: 13px;
    padding: 40px 0;
}

.color-white {
    color: white;
}