/*----------------------------
      layout
 ----------------------------*/
main {
  padding: 0 24px;
}
/*----------------------------
      header section
----------------------------*/
.header {
  display: flex;
  justify-content: center;
  margin: 46px 0 80px;

  &__logo {
    width: unset;
  }
}

/*----------------------------
      hero section
----------------------------*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__image img {
    width: 171px;
  }

  &__heading {
    font-family: Kumbh Sans;
    font-size: 40px;
    line-height: 48px;
    margin: 64px 0 24px;
  }

  &__paragraph {
    font-size: 16px;
    line-height: 26px;
  }

  &__button {

    

  }
}

/*----------------------------
      ??? section
----------------------------*/

/*----------------------------
      footer section 
----------------------------*/
