/*----------------------------
      layout
 ----------------------------*/

/*----------------------------
      header section
----------------------------*/
.header {
  display: flex;
  justify-content: center;
  margin: 46px 0 80px;

  &__logo {
    width: unset;
  }
}

/*----------------------------
      ??? section
----------------------------*/

/*----------------------------
      ??? section
----------------------------*/

/*----------------------------
      footer section 
----------------------------*/
