/*----------------------------
      layout
 ----------------------------*/
.body-index {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: $tablet) {
    display: unset;
  }
  @media only screen and (min-width: 1650px) {
    display: flex;
  }
}

 .main-index {
  padding: 0 24px;

  @media only screen and (min-width: $tablet) {
    padding: 0 40px;
  }

  @media only screen and (min-width: $desktop) {
    padding: 0 24px;
    // padding: 0 clamp(25px, 2.44140625vw, 165px);
  }

  @media only screen and (min-width: 1440px) {
    padding: 0 165px;
  }
}

.page-wrapper {
  max-width: 500px;

  @media only screen and (min-width: $tablet) {
    max-width: 850px;
  }

  @media only screen and (min-width: $desktop) {
    max-width: unset;
  }

  @media only screen and (min-width: 1650px) {
    max-width: 1650px;
  }
}
/*----------------------------
      header section
----------------------------*/
.header {
  display: flex;
  justify-content: center;
  // margin: 72px 0 80px 39px;
  padding: 46px 0 75px;

  @media only screen and (min-width: $tablet) {
    justify-content: flex-start;
    padding: 72px 0 104px 39px;
  }

  &__logo {
    width: unset;
  }

  @media only screen and (min-width: $desktop) {
    padding: 81px 165px 102px;
  }
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 288px;
  background: url(../assets/home/bg-pattern-header.svg) no-repeat;
  background-size: 458px;
  background-position: center top -170px;
  z-index: -1;

  @media only screen and (min-width: $tablet) {
    background-size: 666px;
    background-position: top -164px right -293px;
    height: 502px;
  }

  @media only screen and (min-width: $desktop) {
    background-size: 1134px;
    background-position: top -419px right -350px;
  }
}

/*----------------------------
      hero section
----------------------------*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media only screen and (min-width: $tablet) {
    flex-direction: row-reverse;
    gap: 64px;
    align-items: unset;
    text-align: left;
  }

  &__image img {
    width: clamp(171px, 45.6vw, 45.6vw);

    @media only screen and (min-width: $tablet) {
      width: clamp(281px, 36.5885416667vw, 36.5885416667vw);
      margin: 20px 0 0;
    }

    @media only screen and (min-width: $desktop) {
      // width: clamp(526px, 36.5277777778vw, 36.5277777778vw);
      width: clamp(475px, 32.9861111111vw, 32.9861111111vw);
      margin: 0;
      // transform: translateX(24px);
    }
  }

  &__heading {
    // font-family: Kumbh Sans;
    // font-size: 40px;
    // line-height: 48px;
    margin: 64px 0 24px;

    @media only screen and (min-width: $tablet) {
      margin: 0 0 24px;
    }

    @media only screen and (min-width: $desktop) {
      // font-size: 56px;
      // line-height: 64px;
      margin: 72px 0 24px;
    }
  }

  &__paragraph {
    font-size: 16px;
    line-height: 26px;

    @media only screen and (min-width: $desktop) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__button {
    background: #5175ff;
    box-shadow: 0px 25px 25px -10px rgba(153, 165, 211, 0.247);

    color: $white;
    margin: 24px 0 100px;

    @media only screen and (min-width: $tablet) {
      margin: 24px 0 140px;
    }
  }

  &__button:hover {
    background-color: #829CFF;
  }
}

/*----------------------------
      cta section
----------------------------*/
.cta {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  justify-content: center;

  @media only screen and (min-width: $desktop) {
    flex-direction: row;
    margin: 123px 0 0;
  }

  &__basic {
    background: $white;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  }

  &__pro {
    background: url(../assets/home/bg-pattern-pricing.svg) no-repeat #5175ff;
    background-position: center top -379px;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);

    @media only screen and (min-width: $tablet) {
      background-position: left -319px top -282px;
      background-size: 880px;
    }

    @media only screen and (min-width: $desktop) {
      background-position: center top -379px;
    }
  }

  &__ultimate {
    // box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    background: $white;
  }

  &__heading {
    font-size: 20px;
    line-height: 28px;
  }

  &__price {
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    color: $dark-blue;
    margin: 40px 0 8px;

    @media only screen and (min-width: $tablet) {
      margin: 10px 0 0;
    }

    @media only screen and (min-width: $desktop) {
      margin: 40px 0 8px;
    }
  }

  &__per-user {
    // font-size: 16px;
    // line-height: 28px;
    color: $dark-blue;
  }

  &__features {
    color: #747b95;
    font-size: 16px;
    line-height: 28px;
    margin: 56px 0 32px;

    @media only screen and (min-width: $tablet) {
      margin: 44px 0 0;
    }

    @media only screen and (min-width: $desktop) {
      margin: 56px 0 0;
    }

    @media only screen and (min-width: $desktop) {
      margin: 56px 0 28px;
    }
  }

  &__feature--two {
    margin: 16px 0;
  }

  &__button {
    color: #5175ff;
    background-color: rgba(81, 117, 255, 0.15);
  }

  &__button:hover {
    background-color: rgba(81, 117, 255, 0.5);

  }

  &__button--white {
    background-color: white;
  }

  &__button--white:hover {
    background-color: white;
    color: rgba(130, 156, 255, 1);
  }
}
/*----------------------------
      footer section 
----------------------------*/
.footer {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  position: relative;

  @media only screen and (min-width: $desktop) {
    flex-direction: row;
    padding: 82px 165px 91px;
    justify-content: space-between;
  }

  &__heading {
    // font-family: Kumbh Sans;
    // font-size: 16px;
    // line-height: 48px;
    // letter-spacing: 5px;
    // text-align: center;
    // text-transform: uppercase;

    color: $white;
    // @media only screen and (min-width: $desktop) {
    //   text-align: left;
    // }
  }

  // &__heading span {
  //   color: $blue;
  // }

  // &__timer-boxes {
  //   display: flex;
  //   justify-content: center;
  //   gap: 13px;
  // }

  &__timer {
    color: $white;
    background: $dark-blue;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // //
    // width: clamp(72px, 19.2vw, 19.2vw);
    // font-weight: 700;
    // //
    // border-radius: 4px;
    // padding: 8px 0;

    // @media only screen and (min-width: $tablet) {
    //   width: clamp(100px, 13.0208333333vw, 13.020833333vw);
    //   gap: 6px;
    //   padding: 23px 0;
    // }

    // @media only screen and (min-width: $desktop) {
    //   width: clamp(100px, 6.9444444444vw, 6.9444444444vw);
    //   gap: 16px;
    // }
  }

  // &__cd-time {
  //   font-size: 32px;
  //   line-height: 48px;

  //   @media only screen and (min-width: $tablet) {
  //     font-size: 56px;
  //   }
  // }

  // &__cd-label {
  //   font-size: 12px;
  //   line-height: 28px;
  //   opacity: 0.5;

  //   @media only screen and (min-width: $desktop) {
  //     font-size: 16px;
  //   }
  // }

  &__button {
    color: $white;
    background: $blue;
  }

  &__button:hover {
    background-color: rgb(130, 156, 255);
  }
}

.footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1248px;
  background: url(../assets/home/bg-pattern-footer.svg) no-repeat #25293a;
  background-position: center top 139px;
  background-size: cover;
  z-index: -1;

  @media only screen and (min-width: $tablet) {
    height: 986px;
    background-size: 1454px;
    background-position: center 16px;
  }

  @media only screen and (min-width: $desktop) {
    height: 603px;
    background-size: 2036px;
    background-position: right 111px top -623px;
  }
}
