/*----------------------------
      layout
 ----------------------------*/
main {
  padding: 0 24px;
}
/*----------------------------
      header section
----------------------------*/
.header {
  display: flex;
  justify-content: center;
  margin: 46px 0 80px;

  &__logo {
    width: unset;
  }
}

/*----------------------------
      hero section
----------------------------*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__image img {
    width: 171px;
  }

  &__heading {
    font-family: Kumbh Sans;
    font-size: 40px;
    line-height: 48px;
    margin: 64px 0 24px;
  }

  &__paragraph {
    font-size: 16px;
    line-height: 26px;
  }

  &__button {
    background: #5175ff;
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);

    color: $white;
    margin: 24px 0 100px;
  }
}

/*----------------------------
      cta section
----------------------------*/
.cta {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;

  &__basic {
    background: $white;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  }

  &__pro {
    background: #5175ff;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  }

  &__ultimate {
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
  }

  &__heading {
    font-size: 20px;
    line-height: 28px;
  }

  // &__heading--white {
  //   color: white; //replace color:white w mutual class
  // }

  &__price {
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    color: $dark-blue;
    margin: 40px 0 8px;
  }

  // &__price--white {
  //   color: white;
  // }

  &__per-user {
    font-size: 16px;
    line-height: 28px;
    color: $dark-blue;
  }

  // &__per-user--white {
  //   color: white;
  // }

  &__features {
    color: #747b95;
    font-size: 16px;
    line-height: 28px;
    margin: 56px 0 32px;
  }

  // &__features--white {
  //   color: white;
  // }

  &__feature--two {
    margin: 16px 0;
  }

  &__button {
    color: #5175ff;
    background-color: rgba(81, 117, 255, 0.15);
  }

  &__button--white {
    background-color: white;
  }
}
/*----------------------------
      footer section 
----------------------------*/
.footer {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

  &__heading {
    font-family: Kumbh Sans;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 5px;
    text-align: center;
  }

  &__heading span {
    color: $blue;
  }

  &__timer-boxes {
    display: flex;
    justify-content: center;
    gap: 13px;
  }

  &__timer {
    display: flex;
    flex-direction: column;
    // gap: 16px;
    align-items: center;
    color: $white;
    width: clamp(72px, 19.2vw, 19.2vw);
    font-weight: 700;

    background: $dark-blue;
    border-radius: 4px;
    padding: 8px 0;
  }

  &__cd-time {
    font-size: 32px;
    line-height: 48px;
  }

  &__cd-label {
    font-size: 12px;
    line-height: 28px;
    opacity: 0.5;
  }

  &__button {
    color: $white;
    background: $blue;
  }
}
