body {
  position: relative;
}

.page-wrapper-signup {
  padding: 0 0 87px;
}

.header-signup::after {
  display: none;
}

.main-signup {
  // background-color: #5175ff;

  @media only screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.page-wrapper-signup::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 320px;
  // min-height: clamp(320px, 85.3333333333vw, 85.3333333333vw);
  background: url(../assets/sign-up/bg-pattern-side.svg) no-repeat #25293a;
  background-size: 1202px;
  background-position: center top -408px;
  z-index: -1;

  @media only screen and (min-width: $tablet) {
    min-height: 380px;
    background-size: 1454px;
    background-position: center top -537px;
  }

  @media only screen and (min-width: $desktop) {
    // min-height: 1152px;
    top: 0;
    left: auto;
    width: 420px;
    height: unset;
    background-size: 2036px;
    background-position: center top -781px;
  }
}

.signup {
  @media only screen and (min-width: $desktop) {
    max-width: clamp(540px, 37.5vw, 37.5vw);
  }
  &__text {
    text-align: center;

    @media only screen and (min-width: $tablet) {
      max-width: clamp(572px, 74.4791666667vw, 74.4791666667vw);
      margin: 0 auto;
    }

    @media only screen and (min-width: $desktop) {
      text-align: left;
      margin: 0;
    }
  }

  &__paragraph {
    margin: 16px 0 64px;
  }

  &__heading {
    color: $dark-blue;
  }

  &__timer__boxes {
    @media only screen and (min-width: $tablet) {
      max-width: clamp(445px, 57.9427083333vw, 57.9427083333vw);
      margin: 0 auto;
    }

    // @media only screen and (min-width: $desktop) {
    //   justify-content: flex-start;
    // }
  }

  &__timer--light {
    background-color: $blue;
    background-color: rgba(#5175ff, 0.1);
  }

  &__time {
    color: $blue;
  }

  &__time--sec {
    // width: clamp(40px, 10.6666666667vw, 10.6666666667vw);
    // margin: 0 auto;
  }

  &__label {
    color: $dark-blue;
  }
}

.form {
  margin: 64px 0 0;
  background: $white;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  border-radius: 13px;
  padding: 24px;

  @media only screen and (min-width: $tablet) {
    max-width: clamp(397px, 51.6927083333vw, 51.6927083333vw);
    margin: 104px auto 0;
  }

  @media only screen and (min-width: $desktop) {
    margin: 0;
    flex: 0 0 35.77%;
  }

  &__input-container {
    position: relative;
    border-bottom: 1px solid rgba(116, 123, 149, 0.5);
  }

  &__input {
    border: none;
    // border-bottom: 1px solid rgba(116, 123, 149, 0.5);
    width: 100%;
    line-height: 28px;
    padding: 24px 16px 17px;
    // position: relative;
    // display: block;
    // margin-right: 16px;
  }

  &__error-icon {
    position: absolute;
    bottom: 22px;
    right: 0;
    // bottom: 0;
    width: unset;
  }

  &__select {
    padding: 24px 16px 17px;
    border-bottom: 1px solid rgba(116, 123, 149, 0.5);
    width: 100%;
  }

  &__button {
    width: 100%;
    background: $blue;
    margin: 40px 0 0;
    color: $white;
  }
}

.form__input-container .form__error-icon {
  display: none;
}

.form__input-container.error .form__error-icon {
  display: block;
  position: absolute;
  bottom: 22px;
  right: 0;
  width: unset;
}

.form__input-container.error {
  border-color: $red;
}

.form__input-container.error input {
  color: $red;
}
